// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 /* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #lightblue;
  border: .05rem solid #black;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #lightgrey;
}
body {
  color: #black;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
